*{
    font-family: sans-serif;
}
.topnav {
    overflow: hidden;
    background-color: black;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  .topnav a.active {
    background-color: white;
    color: black;
    border: solid 1px black;
  }
#game_picker{
    /* margin-left: 80%; */
    float: right;
}
main{
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 300px 200px 500px;
    grid-template-columns: 800px 200px;
}
.intro h1{
    font-size: 23px;
}
.intro{
    grid-row: 1/2;
    grid-column: 1/2;
}
.intro a{
    border: 2px solid black;
    padding: 2px;
    margin-left: 5px;
}
.intro p{
    margin-bottom: 180px;
}
.info{
    grid-row: 1/2;
    grid-column: 2/3;
}
.info2{
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 175px;
}
.foto img{
    border: 2px solid black;
    margin-top: 25px;
    width: 175px;
    height: 200px;
}


.recensies{
    margin-bottom: 10px;
}